<a href="https://colab.research.google.com/github/MinhAnh197ct22023/DataAnalyticsDeepLearning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3. Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 
dòng cuối cùng

In [2]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [6]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.tail(10))

    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
90   91  8.1  7.7  9.1  8.5  6.1  8.6  ...   M NaN    2  6.25  4.00  6.50   A
91   92  7.8  6.5  6.7  5.4  6.2  4.8  ...   M NaN  2NT  4.75  4.75  4.50   A
92   93  5.0  6.6  6.5  7.2  5.8  6.7  ...   M NaN    1  3.25  5.25  4.25   A
93   94  5.2  5.2  6.8  7.9  6.6  8.9  ...   M NaN    1  3.50  4.25  5.00   A
94   95  5.8  5.9  7.6  6.1  5.3  8.1  ...   M NaN    1  4.25  2.50  4.75   A
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu 
thì điền giá trị 0.

In [18]:
import pandas as pd
import numpy as np
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print(dulieuxettuyen['DT'])
dulieuxettuyen  = dulieuxettuyen .fillna('0')
print(dulieuxettuyen)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: DT, Length: 100, dtype: float64
    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F   0  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M   0    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M   0    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M   0    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M   0  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F   0    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F   0    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M   0  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M   0    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M   0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

5.Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử 
dụng phương pháp Mean